<a href="https://colab.research.google.com/github/HajjoujiProf/ManipulatingDataFramesPandasPy/blob/main/Copy_of_ManipulatingDataFramesPandasPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.__version__

'1.3.5'

In [ ]:
# import module
import pandas as pd

# assign dataset
df = pd.read_csv("/content/sample_data/4.csv")

# display
print("Type-", type(df))
df

Type- <class 'pandas.core.frame.DataFrame'>

    <TICKER> <PER>    <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>
0     AUDJPY     D  20190101       0  77.212  77.480  76.900   77.440
1     AUDJPY     D  20190102       0  77.410  77.490  75.970   76.358
2     AUDJPY     D  20190103       0  76.358  76.385  70.464   75.286
3     AUDJPY     D  20190104       0  75.286  77.297  75.219   77.170
4     AUDJPY     D  20190105       0  77.175  77.300  77.124   77.300
..       ...   ...       ...     ...     ...     ...     ...      ...
630   AUDJPY     D  20201209       0  77.155  77.944  77.120   77.518
631   AUDJPY     D  20201210       0  77.518  78.610  77.500   78.375
632   AUDJPY     D  20201211       0  78.375  78.781  78.170   78.385
633   AUDJPY     D  20201213       0  78.377  78.649  78.326   78.475
634   AUDJPY     D  20201214       0  78.489  78.705  78.259   78.365

[635 rows x 8 columns]

In [ ]:
df.head(10)

  <TICKER> <PER>    <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>
0   AUDJPY     D  20190101       0  77.212  77.480  76.900   77.440
1   AUDJPY     D  20190102       0  77.410  77.490  75.970   76.358
2   AUDJPY     D  20190103       0  76.358  76.385  70.464   75.286
3   AUDJPY     D  20190104       0  75.286  77.297  75.219   77.170
4   AUDJPY     D  20190105       0  77.175  77.300  77.124   77.300
5   AUDJPY     D  20190106       0  77.270  77.460  77.250   77.390
6   AUDJPY     D  20190107       0  77.410  77.730  77.010   77.658
7   AUDJPY     D  20190108       0  77.659  77.844  77.270   77.644
8   AUDJPY     D  20190109       0  77.640  78.108  77.380   77.558
9   AUDJPY     D  20190110       0  77.561  77.932  77.060   77.923

In [ ]:
df.shape

(635, 8)

In [ ]:
df.describe()

             <DATE>  <TIME>      <OPEN>      <HIGH>       <LOW>     <CLOSE>
count  6.350000e+02   635.0  635.000000  635.000000  635.000000  635.000000
mean   2.019526e+07     0.0   74.831669   75.155997   74.463041   74.833665
std    4.998753e+03     0.0    3.213230    3.099314    3.347473    3.208641
min    2.019010e+07     0.0   62.751000   64.529000   59.826000   62.751000
25%    2.019061e+07     0.0   73.661500   73.957000   73.200000   73.658500
50%    2.019120e+07     0.0   75.241000   75.577000   74.950000   75.240000
75%    2.020061e+07     0.0   76.830000   77.074000   76.482000   76.877500
max    2.020121e+07     0.0   80.418000   80.719000   80.320000   80.407000

In [ ]:
df.dropna()

    <TICKER> <PER>    <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>
0     AUDJPY     D  20190101       0  77.212  77.480  76.900   77.440
1     AUDJPY     D  20190102       0  77.410  77.490  75.970   76.358
2     AUDJPY     D  20190103       0  76.358  76.385  70.464   75.286
3     AUDJPY     D  20190104       0  75.286  77.297  75.219   77.170
4     AUDJPY     D  20190105       0  77.175  77.300  77.124   77.300
..       ...   ...       ...     ...     ...     ...     ...      ...
630   AUDJPY     D  20201209       0  77.155  77.944  77.120   77.518
631   AUDJPY     D  20201210       0  77.518  78.610  77.500   78.375
632   AUDJPY     D  20201211       0  78.375  78.781  78.170   78.385
633   AUDJPY     D  20201213       0  78.377  78.649  78.326   78.475
634   AUDJPY     D  20201214       0  78.489  78.705  78.259   78.365

[635 rows x 8 columns]

In [ ]:
df.dropna(axis=1)

    <TICKER> <PER>    <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>
0     AUDJPY     D  20190101       0  77.212  77.480  76.900   77.440
1     AUDJPY     D  20190102       0  77.410  77.490  75.970   76.358
2     AUDJPY     D  20190103       0  76.358  76.385  70.464   75.286
3     AUDJPY     D  20190104       0  75.286  77.297  75.219   77.170
4     AUDJPY     D  20190105       0  77.175  77.300  77.124   77.300
..       ...   ...       ...     ...     ...     ...     ...      ...
630   AUDJPY     D  20201209       0  77.155  77.944  77.120   77.518
631   AUDJPY     D  20201210       0  77.518  78.610  77.500   78.375
632   AUDJPY     D  20201211       0  78.375  78.781  78.170   78.385
633   AUDJPY     D  20201213       0  78.377  78.649  78.326   78.475
634   AUDJPY     D  20201214       0  78.489  78.705  78.259   78.365

[635 rows x 8 columns]

In [ ]:
import pandas as pd
df = pd.read_csv (r'/content/sample_data/4.csv')
print (df)

    <TICKER> <PER>    <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>
0     AUDJPY     D  20190101       0  77.212  77.480  76.900   77.440
1     AUDJPY     D  20190102       0  77.410  77.490  75.970   76.358
2     AUDJPY     D  20190103       0  76.358  76.385  70.464   75.286
3     AUDJPY     D  20190104       0  75.286  77.297  75.219   77.170
4     AUDJPY     D  20190105       0  77.175  77.300  77.124   77.300
..       ...   ...       ...     ...     ...     ...     ...      ...
630   AUDJPY     D  20201209       0  77.155  77.944  77.120   77.518
631   AUDJPY     D  20201210       0  77.518  78.610  77.500   78.375
632   AUDJPY     D  20201211       0  78.375  78.781  78.170   78.385
633   AUDJPY     D  20201213       0  78.377  78.649  78.326   78.475
634   AUDJPY     D  20201214       0  78.489  78.705  78.259   78.365

[635 rows x 8 columns]

In [ ]:
def my_mean(sample):
     return sum(sample) / len(sample)


my_mean([ 77.440, 76.358, 75.286, 77.170, 77.300]) # DATA FROM CLOSE NUMBERS

76.7108